<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WeatherClassLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WeatherClassLibrary.Properties.Settings>
            <setting name="WeatherClassLibrary_WeatherRefrence_GlobalWeather"
                serializeAs="String">
                <value>http://www.webservicex.net/globalweather.asmx</value>
            </setting>
        </WeatherClassLibrary.Properties.Settings>
    </applicationSettings>
</configuration>